@font-face {
    font-family: amiko;
    src: url('amiko-v14-latin-regular.woff2') format('woff2');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'amiko';
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(79, 79, 204);
    text-align: center;
    color: aliceblue;
}

main {
    padding: 2rem 0rem;
    margin: 3.3rem 0rem;
    max-width: 355px;
    width: 340px;
    height: 35rem;
    width: 25rem;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.897) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: rgb(76, 33, 192);
    border: 2.5px solid rgb(240, 248, 255);
}

section {
    margin-top: 1rem;
}

section div {
    display: inline-block;
    padding: 0rem 1rem;
    margin-top: .8rem;
}

.img-profile {
    width: 8rem;
    border-radius: 50%;
    border: 2.5px solid aliceblue;
    object-fit: cover;
}

h1 {
    padding-top: .8rem;
    font-size: 2.4rem;
}

h2 {
    padding-top: .8rem;
    font-size: 1.9rem;
}

h4 {
    padding-top: .8rem;
}

.container-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .93rem;
}


.icon-ig {
    width: 2.3rem;

}

.icons-wt {
    width: 2.4rem;
}

.icons-link {
    width: 2.5rem;
}

img {
    object-fit: cover;
}

footer {
    margin-top: 3rem;
    text-align: center;
    width: 100%;
}

p {
    font-size: 12px;
}

span {
    color: rgb(238, 136, 40);
}